<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mgosu.callscreen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:description="@string/permdesc_flashlight"
        android:label="@string/permlab_flashlight"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true"></uses-feature>

    <application
        android:name=".CallApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:isGame="true">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CallToActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.MissCallActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.activity.DetailWallpaperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.activity.WallPaperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".ui.activity.BaseActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>

                <!-- Handle links from other applications -->
                <!-- <action android:name="android.intent.action.VIEW" /> -->
                <action android:name="android.intent.action.DIAL" />
                <!-- Populate the system chooser -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Handle links in browsers -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailCallFlashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.activity.CallFlashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.activity.CallingActivity"
            android:autoRemoveFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter android:priority="99999">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.ANSWER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.wiget.muticontact.MultiContactPickerActivity"
            android:screenOrientation="portrait" />


        <service
            android:name=".service.download.DownloadService"
            android:enabled="true"></service>
        <service
            android:name=".service.call.CallService"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.CameraWallpaperService"
            android:label="@string/camera_wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/camera_wallpaper" />
        </service>
        <service
            android:name=".service.video.VideoWallpaperService2"
            android:enabled="true"
            android:exported="true"
            android:label="@string/video_wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/video_wallpaper" />
        </service>
        <service
            android:name=".service.video.VideoWallpaperService1"
            android:enabled="true"
            android:exported="true"
            android:label="@string/video_wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/video_wallpaper" />
        </service>
        <service
            android:name=".service.beautiful.WallpaperImage3dService2"
            android:label="@string/video_wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_3d" />
        </service>
        <service
            android:name=".service.beautiful.WallpaperImage3dService1"
            android:label="@string/video_wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_3d" />
        </service>
        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.service.notification.NotificationListenerService" /> -->
            <!-- </intent-filter> -->
        </service>
        <service
            android:name=".service.ITelephonyService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />


        <!--<receiver android:name=".receiver.CallReceiver" >-->
            <!--<intent-filter android:priority="99999">-->
                <!--<action android:name="android.intent.action.PHONE_STATE" />-->
                <!--<action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->


        <receiver android:name=".receiver.ServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>